extends ./encabezado.jade
block contenido
  h1 Servicio para detectar mutaciones sobre una secuencia de ADN.
  h4 Secuencia de ADN recibida.
  h4 Mas informacion.
  a(href="/desarrollador") Desarrollador.
  
